@page "/home"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="wrapper">
    <NavMenuBar />
    <main class="page-main d-flex flex-column align-items-center">
        <h1>Tipuri de alegeri disponibile</h1>

        @if (types == null)
        {
            <div class="d-flex flex-column align-items-center justify-content-center" style="margin-top:60px">
                <p class="p1">Nu există tipuri de alegeri disponibile în acest moment!</p>
                <p>Vă rugăm, reveniți!</p>
            </div>
        }
        else
        {
            <div class="d-flex flex-row flex-wrap align-items-center justify-content-center">
                @foreach (var item in types)
                {
                    <div class="d-flex align-items-center justify-content-center cardHome">
                        <a class="cardSpanText" href="/candidates/@item.votingTypeID">@item.votingTypeName</a>
                    </div>
                }
            </div>
        }
    </main>
    <BottomBar />
</div>


@code
{
    public class VotingType
    {
        public Guid votingTypeID { get; set; }

        public Guid candidateID { get; set; }

        public string votingTypeName { get; set; }
    }

    private VotingType[] types;

    private string apiUrl = "https://localhost:44380/api/votingtype";

    protected override async Task OnInitializedAsync()
    {
        types = await Http.GetJsonAsync<VotingType[]>(apiUrl);
    }

}




