.fulll {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrapper1 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.page-candidates {
    padding: 0 10%;
    margin-top: 65px;
    flex-grow: 1;
    margin-bottom: 57px;
    font-family: 'Bitter', serif;
    text-align: center;
}

.candidates-list {
    width: 50%;
    height: 100vh;
    flex-direction: row;
    overflow-y: scroll;
}

.candidates-list::-webkit-scrollbar {
    display: none;
}

.list {
    overflow-y: auto;
    margin-bottom: 130px;
    padding-left: 5px;
}

.list p {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.list::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #343a40;
}

.candidates-list h1, .statistics h1 {
    margin-top: 15px;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 20px;
}

.card {
    position: relative;
    display: flex;
    min-width: 0;
    margin-right: 10px;
    word-wrap: break-word;
    background-color: #FED32F;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.3);
}

.imagee {
    width: 80px;
}

.imagee img {
    width: 80px;
    height: 80px;
}

.name {
    padding: 20px;
    width: 70%;
}

.nameVote {
    width: 100%;
}

.statistics {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    width: 50%;
}

.selection {
    width: 50%;
}

@media only screen and (max-width: 1000px){
    .page-candidates{
        padding: 0 6%;
    }
    .selection {
        width: 70%;
    }
}

@media only screen and (max-width: 920px){
    .fulll {
        overflow-y: auto;
    }
    .page-candidates{
        flex-direction: column;
        align-items: center;
    }

    .candidates-list, .statistics{
        width: 70%;
    }
}

@media only screen and (max-width: 800px){
    .selection {
        width: 85%;
    }
    .list .name h3{
        font-size: 20px;
    }
}

@media only screen and (max-width: 600px){
    .candidates-list, .statistics {
        width: 90%;
    }
}


@media only screen and (max-width: 450px){
    .candidates-list, .statistics{
        width: 90%;
    }

    .candidates-list h1{
        font-size: 40px;
    }

    .list .name{
        padding: 2px;
    }

    .list .name h3 {
        font-size: 17px;
    }
}

