.cardHome {
    width: 250px;
    height: 390px;
    margin: 20px;
    background-color: rgb(254,211,47);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardHome:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 10px 25px 0 rgba(0, 0, 0, 0.3);
}

.cardSpanText {
    text-align: center;
    width: 80%;
    font-size: 40px;
    color: black;
    font-family: 'Bitter', serif;
    text-decoration: none;
}

.cardHome a:visited {
    color: black;
}

.cardHome a:hover {
    text-decoration: none;
    color: #343a40 !important;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-main {
    padding: 0 15%;
    margin-top: 65px;
    flex-grow: 1;
    margin-bottom: 57px;
    font-family: 'Bitter', serif;
    text-align: center;
}

.page-main h1 {
    margin-top: 10px;
    font-weight: bold;
    font-size: 50px;
}

.page-main p {
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
}