.navbar {
    height: 65px;
}

.logo {
    margin-top: -12px;
    margin-left: 0px;
}

img{
    height: 75px;
}

.home {
    margin-right: 17px;
    font-size: 20px;
    text-decoration: none;
}

.home:visited {
    color: black;
}

.home:hover{
    color: black;
    font-size: 22px;
    text-decoration: none;
}

.home:active{
    color: black;
    font-size: 22px;
}

.nav-buttons {
    margin-top: -15px;
    font-family: 'Bitter', serif;
}

.nav-buttons .btn:hover{
    color: #FED32F;
}

@media (max-width: 1024px) {
}
