<footer class="footer fixed-bottom font-small bg-dark">
    <div class="footer-copyright text-center text-white py-3">
        © 2020 Copyright: One Hit Wonders All Rights Reserved
    </div>
</footer>
