<!--<nav class="navbar navbar-light cardBottomBar">
    <span class="navbar-brand mb-0 h1 spanTextBottomBar" style="color:white;">&copy; 2019 One Hit Wonders All Rights Reserved</span>
</nav>-->
<footer class="footer fixed-bottom font-small bg-dark">
    <div class="footer-copyright text-center text-white py-3">
        © 2020 Copyright: One Hit Wonders All Rights Reserved
    </div>
</footer>
