@inject NavigationManager NavigationManager
@inject Shared.Services.IAuthService AuthService

<nav class="navbar fixed-top navbar-light bg-warning">

    <a class="logo" @onclick="NavigateToHome"><img src="./assets/logo.png" /></a>
    <div class="d-flex justify-content-center align-items-center nav-buttons ">
        <a @onclick="NavigateToHome" class="home">Home</a>
        <button type="button" class="btn btn-outline-dark font-weight-bold" @onclick="LogOut">Log Out</button>
    </div>
</nav>

@code
{
    public void NavigateToHome()
    {
        NavigationManager.NavigateTo("/home", true);
    }

    public void LogOut()
    {
        AuthService.Logout();
        NavigationManager.NavigateTo("/", true);
    }
}